<link rel="stylesheet" type="text/css" href="../css/update.css"/>
<!-- https://codepen.io/freeCodeCamp/pen/VPaoNP -->

<div class="container">

    <form id="survey-form" action="" method="">
		
		<div style="text-align: center;">
		<img style="width: 20%;" src="https://tr.rbxcdn.com/76c20e1834ea52df2e090f56b7fa1932/420/420/Decal/Png">
		<h1> Thank you! </h1>
		<p> Your submission has been received. </p>
		<p> Your can now login with admin credentials. </p>
        </div>
		
    </form>
</div>