<link rel="stylesheet" type="text/css" href="../css/menu.css"/>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,800,300" rel="stylesheet" type="text/css" />

<h1 id="welcome">Welcome {{name}}!</h1>
<nav class="nav admin">
    <ul class="nav__menu">
        <li class="nav__menu-item active"><a href="/menu-admin">Home</a></li>
        <li class="nav__menu-item"><a href="/coaches">Coaches</a></li>
        <li class="nav__menu-item"><a href="/coachees">Coachees</a>
                <ul class="nav__submenu">
                        <li class="nav__submenu-item"> <a href="/add-coachee">Add Coachee</a></li>
                </ul>
        </li>
        <li class="nav__menu-item"><a href="/sessions">Sessions</a>
                <ul class="nav__submenu">
                        <li class="nav__submenu-item"> <a href="/create-sessions">Create Sessions</a></li>
                </ul>
        </li>
        <li class="nav__menu-item"><a href="/logout">Sign Out</a></li>
    </ul>
</nav>