<link rel="stylesheet" type="text/css" href="../css/menu.css"/>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,800,300" rel="stylesheet" type="text/css" />

<h1 id="welcome">Welcome {{name}}!</h1>
<nav class="nav coach">
    <ul class="nav__menu">
        <li class="nav__menu-item active"><a href="/menu-coach">Home</a></li>
		<li class="nav__menu-item"><a href="/view">View Sessions</a></li>
        <li class="nav__menu-item"><a href="/logout">Sign Out</a></li>
    </ul>
</nav>