<div class="login-page">
    <div class="form">
        <form class="register-form" method="POST">
		
			{{#if message}}
				<div class="error"> {{ message }}</div>
			{{/if}}
			<br>
			
			<div style="float:left;">
				<input type="text" name="first" placeholder="first name" size="10" required>
			</div>
			<div style="float:right;">
				<input type="text" name="last" placeholder="last name" size="10" required>
            </div>
			<input type="password" name="password" placeholder="password" required>
            <input type="text" name="username" placeholder="email address" required>
			<input type="text" name="phone" placeholder="phone number" required>
            <button>create</button>
            <p class="message">Already registered? <a href="/">Sign In</a></p>
        </form>
    </div>
</div>