<link rel="stylesheet" type="text/css" href="../css/menu.css"/>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,800,300" rel="stylesheet" type="text/css" />
<h1 id="welcome">Welcome {{name}}!</h1>
<nav class="nav coach">
    <ul class="nav__menu">
        <li class="nav__menu-item"><a href="/menu-coach">Home</a></li>
        <li class="nav__menu-item active"><a href="/view">View Sessions</a></li>
        <li class="nav__menu-item"><a href="/logout">Sign Out</a></li>
    </ul>
</nav>

<link rel="stylesheet" type="text/css" href="../css/update.css"/>
<!-- https://codepen.io/freeCodeCamp/pen/VPaoNP -->

<div class="container">

    <form id="survey-form" action="/update" method="POST">
	
		<h2 id="title" class="text-center">Session Log: {{log.sessionDate}}</h2>
        <p id="description" class="description text-center">Please answer the following questions about the coaching session..</p>
	
		<hr style="border-color:white;">
	
		<div class="form-group">
            <p>Did the session take place?</p>
            <label>
				<input id="Yes" name="canceled" value="false" type="radio" class="input-radio"/>Yes
			</label>
            <label>
				<input id="No" name="canceled" value="true" type="radio" class="input-radio"/>No
			</label>
        </div>
		
		<div id="canceledDiv" style="display:none;margin-bottom:20px;padding-top:20px;padding-left:10px;padding-right:10px;">	
			<div class="form-group">
				<p>Was the session cancelled 24 hours in advance?</p>
				<label>
					<input name="advance" value="true" type="radio" class="input-radio"/>Yes
				</label>
				<label>
					<input name="advance" value="false" type="radio" class="input-radio"/>No
				</label>
			</div>
			
			<div class="form-group">
				<p>Please record the rescheduled session date.</p>
				<label>
					<input name="cancelDate" type="date" id="name" class="form-control">
				</label>
			</div>
		</div>
		
        <div class="form-group">
            <p>Please write any notes/comments about the session below. (optional)</p>
            <textarea
                id="comments"
                class="input-textarea"
                name="notes"
                placeholder="Enter any notes here..."
                ></textarea>
        </div>
		
		<div class="form-group" id="lastDiv">
            <p>Is this the last session?</p>
            <label>
				<input id="yesLast" name="last" value="true" type="radio" class="input-radio"/>Yes
			</label>
            <label>
				<input id="noLast" name="last" value="false" type="radio" class="input-radio"/>No
			</label>
        </div>
		
		<div class="form-group" id="nextDiv">
				<p>When is the next session to be held?</p>
				<label>
					<input name="nextDate" type="date"  id="name" class="form-control">
				</label>
		</div>
		
		<input class="button" type="hidden" name="sessionNum" value="{{sessionNum}}"></input>
		<input class="button" type="hidden" name="sessionsID" value="{{sessionsID}}"></input>
		
        <div class="form-group">
            <button type="submit" id="submit" class="submit-button">
            Submit
            </button>
        </div>
		
    </form>
</div>

<script src="../js/update-js.js"></script>